#tdamthuc {
    font-size: 50px;
    height: 100%;
    margin-top: 20%;
    text-shadow: blue 0.1em 0.1em 0.2em;
    font-family: 'Dancing Script', cursive;
}

#linkchi {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    /* color: lightslategray; */
    font-weight: bolder;
}

#linkchi a {
    color: black;
}

#linkchi a:hover {
    color: lightslategray;
}

#h2at {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Roboto Mono', monospace;
}

#pat {
    text-align: center;
    font-size: 1.5rem;
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto Mono', monospace;
}

main {
    border: 1px solid red;
    margin-top: 2rem;
}

#umg3{
    width: 800px;
}

#ttat {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightslategray;
    margin-right: 10%;
}

#h2at2 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
}