.flex1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#tdamthuc {
    font-size: 50px;
    height: 100%;
    margin-top: 20%;
    text-shadow: blue 0.1em 0.1em 0.2em;
    font-family: 'Dancing Script', cursive;
}

#linkchi {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    /* color: lightslategray; */
    font-weight: bolder;
}

#linkchi a {
    color: black;
}

#linkchi a:hover {
    color: lightslategray;
}

#h2at {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Roboto Mono', monospace;
}

#pat {
    text-align: center;
    font-size: 1.5rem;
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto Mono', monospace;
}

main {
    border: 1px solid red;
    margin-top: 2rem;
}

#ttat {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightslategray;
    margin-right: 5%;
}

#h2at2 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
}

.dichvus {
    width: 100%;
    z-index: 0;
}

.dichvu {
    width: 50%;
    text-align: center;
    position: relative;
    font-family: 'Roboto Mono', monospace;
}

.dichvu:hover .chon{
    top: 20%;
    line-height: 200%;
}

.dichvu:hover .xemthem a {
    visibility: visible;
    background-color: rgba(47, 79, 79, 0.4);
    color: white;
    border: 2px solid;
    border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    border-image-slice: 10%;
    animation: borderMove 1s linear infinite;
}

.anhdichvu {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.chon{
    font-size: 40px;
    color: aliceblue;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.xemthem {
    font-size: 20px;
    color: white;
    visibility: hidden;
    /* border: 1px solid red; */
    display: block;
    max-width: 100%;
}

.xemthem a {
    padding: 20px;
}

.xemthem:hover a{
    color: black;
    background-color: rgba(112, 241, 121, 0.4) !important;
    border-radius: 10%;
}

.xemthem a {
    color: white;
}

.xemthem:hover a {
    color: black !important;
}

