.flex
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Gotop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.Gotop a {
    background-color: rgba(112, 241, 121, 0.8);
    color: white;
    text-decoration: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    animation: shake 1s infinite;
}

.Gotop a:hover {
    background-color: #0056b3;
}

.header {
    position: fixed;
    width: 100%;
    top: 0%;
}

.header.sticky {
    background-color: rgba(47, 79, 79, 0.4);
    z-index: 10;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

#background {
    height: 100%;
    border: 0.01px solid white;
    background-size: cover;
    background-position: center; /* Căn giữa hình ảnh */
    background-repeat: no-repeat; /* Ngăn hình ảnh lặp lại */
    /* height: 100vh; */
}

header {
    height: 100%;
    width: 100%;
    color: white;
}

.tmp {
    /* border: 1px solid red; */
    height: 100px;
}

#img1 {
    width: 200px;
}

ul.menu1 {
    list-style-type: none;
    padding-left: 0;
    display: block;
}

.sub {
    
    position: relative;
    display: block;
    /* border: 1px solid red; */
    padding: 100%;
    margin: 0%;
    width: 100%;
}

.submenu {
    position: absolute;
    visibility: hidden;/* Ẩn luôn tại vùng đó */
    transition: opacity 1s;
    opacity: 0;
    display: block;
    /* border: 1px solid red; */
    padding: 0%;
    margin: 0%;
    left: 0;
    top: 100%;
}

ul.submenu li {
    list-style-type: none;
    border-bottom: 1px solid black;
    background-color: rgba(211, 211, 211, 0.8);
    display: block;
    padding: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 110%;
    padding-left: 5%;
    border: 2px solid;
    border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    border-image-slice: 10%;
    animation: borderMove 1s linear infinite;
}

ul.submenu li a {
    color: black;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 30px;
    white-space: nowrap; /*chữ ko xuống dòng lung tung */
    /* padding-left: 15%;
    padding-right: 15%; */
    margin: auto;
    padding: auto;
    display: block;
}

ul.submenu:hover li a {
    
    color: black;
}

ul.submenu li:hover {
    background-color: rgba(112, 241, 121, 0.8);
    color: black;
}

.submenu.visible {
    visibility: visible; /* Hiển thị menu */
    opacity: 1; /* Hiển thị đầy đủ khi menu có lớp visible */
}
/* .sub:hover .submenu{
    visibility: visible;
    opacity: 1;
} */

#a1 {
    font-size: 200%;
    color: white;
}

#a1:hover {
    animation: colorChange 3s infinite;
}

.tmp #a2 {
    font-size: 200%;
    text-decoration: none;
    /* background-color: rgba(0, 255, 0, 0.4); */
    /* color: white; */
    margin: 0;
    white-space: nowrap;
    padding: 30px;
    font-weight: bolder;
    animation: blink 2s infinite, colorChange 3s infinite;
    /* border: 1px solid red; */
}
#a2:hover {
    background-color: rgba(112, 241, 121, 0.4);
    border: 3px solid;
    border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    border-image-slice: 10%;
    animation: borderMove 1s linear infinite, blink 2s infinite, colorChange 3s infinite;
    /* color: black; */
}

#div2 {
    text-align: center;
}

#p1 {
    text-align: center;
    font-size: 35px;
    padding: 0;
    margin: auto;
    margin-top: 15%;
    text-shadow: blue 0.1em 0.1em 0.2em;
    font-family: 'Dancing Script', cursive;
    /* border: 1px solid red; */
}

#p2 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 0;
}

#p3 {
    text-align: center;
}

#button1 {
    border: none;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0);
}

#video1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.hidden {
    display: none;
}

#p3 a {
    color: white;
}

#p3 a i:hover {
    animation: colorChange 3s infinite;
}

#img2 {
    display: block;
    margin: 10%;
    padding: 0%;
    max-width: 80%;
    max-height: 80%;
}

.sec1 {
    margin: 0;
    margin-left: 2%;
    padding: 0%;
    /* border: 1px solid red; */
}

section.sec1 div {
    width: 50%;
}

#p4 {
    font-weight: bold;
    font-size: 50px;
    padding: 0;
    margin-bottom: 0;
    font-family: 'Roboto Mono', monospace;
}

#p5 {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

#p6 {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightslategray;
}

#p7 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 0;
}

#p8 {
    margin-top: 0;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
}

#p9 {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightslategray;
    padding: 0;
    margin: 2%;
}

/* .secp {
    border: 1px solid red;
} */

.sec2 {
    margin: 0;
    margin-left: 2%;
    padding: 0%;
}

section.sec2 div {
    width: 50%;
}

#img3 {
    display: block;
    margin: 10%;
    padding: 0%;
    max-width: 80%;
    max-height: 80%;
}

#p10 {
    font-weight: bold;
    font-size: 40px;
    padding: 0;
    margin-bottom: 0;
    font-family: 'Roboto Mono', monospace;
}

#p11 {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightslategray;
}

.sec3 {
    margin: 0;
    margin-left: 2%;
    padding: 0%;
    /* border: 1px solid red; */
}

section.sec3 div {
    width: 50%;
}

#img4 {
    display: block;
    margin: 10%;
    padding: 0%;
    max-width: 80%;
    max-height: 80%;
}

#p12 {
    font-weight: bold;
    font-size: 50px;
    padding: 0;
    margin-bottom: 0;
    font-family: 'Roboto Mono', monospace;
}

#p13 {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightslategray;
}

.dichvus {
    width: 100%;
    z-index: 0;
}

.dichvu {
    width: 50%;
    text-align: center;
    position: relative;
    font-family: 'Roboto Mono', monospace;
}

.dichvu:hover .chon{
    top: 20%;
    line-height: 200%;
}

.dichvu:hover .xemthem a {
    visibility: visible;
    background-color: rgba(47, 79, 79, 0.4);
    color: white;
    border: 2px solid;
    border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    border-image-slice: 10%;
    animation: borderMove 1s linear infinite;
}

.anhdichvu {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.chon{
    font-size: 40px;
    color: aliceblue;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.xemthem {
    font-size: 20px;
    color: white;
    visibility: hidden;
    /* border: 1px solid red; */
    display: block;
    max-width: 100%;
}

.xemthem a {
    padding: 20px;
}

.xemthem:hover a{
    color: black;
    background-color: rgba(112, 241, 121, 0.4) !important;
    border-radius: 10%;
}

.xemthem a {
    color: white;
}

.xemthem:hover a {
    color: black !important;
}

/* #pthem {
    text-align: center;
    font-size: 40px;
    display: block;
} */

footer div {
    text-align: center;

}

.footer1 {
    background-color: #00ff22;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border: 0.01px solid rgba(0, 0, 0, 0);
}

footer a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightslategray;
}

footer a:hover {
    font-size: 110%;
}

#face a{
    font-size: 30px;
    /* border: 1px solid red; */
    display: inline-block;
    margin: 10px;
}

#face1 {
    color: blue;
}

#ytb {
    color: red;
}

#tt {
    color: black;
}

#face a:hover {
    background-color: darkgray;
    border-radius: 50%;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes blink {
    0% { opacity: 1; }
    20% { opacity: 0.8; }
    40% { opacity: 0.6; }
    60% { opacity: 0.4;}
    80% { opacity: 0.2;}
    /* 100% { opacity: 0; } */
}

@keyframes colorChange {
    0% { color: red; }
    20% { color: blue; }
    40% { color: green; }
    60% { color: yellow; }
    80% { color: indigo; }
    100% { color: violet; }
}

@keyframes borderMove {
    0% {
        border-image-source: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    }
    50% {
        border-image-source: linear-gradient(45deg, violet, red, orange, yellow, green, blue, indigo, violet);
    }
}