#qdkn {
    font-size: 50px;
    height: 100%;
    margin-top: 20%;
}

#qdkn2 > a {
    font-size: 40px;
    background-color: blue;
    color: white;
}

#qdkn2:hover > a {
    background-color: rgb(112, 241, 121);
    color: black;
}

#h1 {
    text-align: center;
    font-size: 40px;
}

ol, ul {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightslategray;
}

#background {
    background-size: cover;
}

#linkchi {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightslategray;
    font-weight: bolder;
}