#qdkn {
    font-size: 50px;
    height: 100%;
    margin-top: 20%;
    text-shadow: blue 0.1em 0.1em 0.2em;
    font-family: 'Dancing Script', cursive;
}

#qdkn2 > a {
    font-size: 40px;
    background-color: blue;
    color: white;
}

#qdkn2:hover > a {
    background-color: rgb(112, 241, 121);
    color: black;
}

#h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
}

h2 {
    font-family: 'Roboto Mono', monospace;
}

ol, ul {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightslategray;
}

#background {
    background-size: cover;
}

#linkchi {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    /* color: lightslategray; */
    font-weight: bolder;
}

#linkchi a {
    color: black;
}

#linkchi a:hover {
    color: lightslategray;
}

@media (max-width: 768px) {
    ul.submenu li a {
        font-size: 25px;
    }

    #a1 {
        font-size: 180%;
    }

    .tmp #a2 {
        font-size: 180%;
    }

    #qdkn {
        font-size: 35px;
        margin-top: 40%;
    }

    #h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    ol, ul {
        font-size: 16px;
    }

    #linkchi {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    ul.submenu li a {
        font-size: 20px;
    }

    #a1 {
        font-size: 150%;
    }

    .tmp #a2 {
        font-size: 150%;
    }

    #qdkn {
        font-size: 25px;
        margin-top: 40%;
    }

    #h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    ol, ul {
        font-size: 14px;
    }

    #linkchi {
        font-size: 16px;
    }
}