.flex
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

html, body, header, footer{
    margin: 0%;
    padding: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Gotop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.Gotop a {
    background-color: rgba(112, 241, 121, 0.8);
    color: white;
    text-decoration: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    animation: shake 1s infinite;
}

.Gotop a:hover {
    background-color: #0056b3;
}

.header {
    position: fixed;
    background-color: rgb(36, 30, 30);
    width: 100%;
    top: 0%;
}

.header.sticky {
    background-color: rgba(47, 79, 79, 0.4);
    z-index: 10;
}

a {
    text-decoration: none;
}

.tmp {
    /* border: 1px solid red; */
    height: 100px;
}

#img1 {
    width: 200px;
}

ul.menu1 {
    list-style-type: none;
    padding-left: 0;
    display: block;
}

.sub {
    
    position: relative;
    display: block;
    /* border: 1px solid red; */
    padding: 100%;
    margin: 0%;
    width: 100%;
}

.submenu {
    position: absolute;
    visibility: hidden;/* Ẩn luôn tại vùng đó */
    transition: opacity 1s;
    opacity: 0;
    display: block;
    /* border: 1px solid red; */
    padding: 0%;
    margin: 0%;
    left: 0;
    top: 100%;
}

ul.submenu li {
    list-style-type: none;
    border-bottom: 1px solid black;
    background-color: rgba(211, 211, 211, 0.8);
    display: block;
    padding: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 110%;
    padding-left: 5%;
    border: 2px solid;
    border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    border-image-slice: 10%;
    animation: borderMove 1s linear infinite;
}

ul.submenu li a {
    color: black;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 30px;
    white-space: nowrap; /*chữ ko xuống dòng lung tung */
    /* padding-left: 15%;
    padding-right: 15%; */
    margin: auto;
    padding: auto;
    display: block;
}

ul.submenu:hover li a {
    
    color: black;
}

ul.submenu li:hover {
    background-color: rgba(112, 241, 121, 0.8);
    color: black;
}

.submenu.visible {
    visibility: visible; /* Hiển thị menu */
    opacity: 1; /* Hiển thị đầy đủ khi menu có lớp visible */
}

#a1 {
    font-size: 200%;
    color: white;
}

#a1:hover {
    animation: colorChange 3s infinite;
}

.tmp #a2 {
    font-size: 200%;
    text-decoration: none;
    /* background-color: rgba(0, 255, 0, 0.4); */
    /* color: white; */
    margin: 0;
    white-space: nowrap;
    padding: 30px;
    font-weight: bolder;
    animation: blink 2s infinite, colorChange 3s infinite;
    /* border: 1px solid red; */
}
#a2:hover {
    background-color: rgba(112, 241, 121, 0.4);
    border: 3px solid;
    border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    border-image-slice: 10%;
    animation: borderMove 1s linear infinite, blink 2s infinite, colorChange 3s infinite;
    /* color: black; */
}

@keyframes blink {
    0% { opacity: 1; }
    20% { opacity: 0.8; }
    40% { opacity: 0.6; }
    60% { opacity: 0.4;}
    80% { opacity: 0.2;}
    /* 100% { opacity: 0; } */
}

@keyframes colorChange {
    0% { color: red; }
    20% { color: blue; }
    40% { color: green; }
    60% { color: yellow; }
    80% { color: indigo; }
    100% { color: violet; }
}

@keyframes borderMove {
    0% {
        border-image-source: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    }
    50% {
        border-image-source: linear-gradient(45deg, violet, red, orange, yellow, green, blue, indigo, violet);
    }
}

#marginhead {
    margin-top: 100px;
}

#linkchi {
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    /* color: lightslategray; */
    font-weight: bolder;
}

#linkchi a {
    color: black;
}

#linkchi a:hover {
    color: lightslategray;
}

#modau {
    text-align: center;
}

#modau h1 {
    font-size: 40px;
}

#md1 {
    font-size: 20px;
}

#md2 {
    margin-top: 5%;
    font-size: 20px;
}

.thuvienanh {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}

.thuvienanh div {
    width: 25%;
}

.thuvienanh img {
    margin: 0%;
    padding: 0%;
    max-height: 100%;
    max-width: 100%;
    height: 200px;
    width: 100%;
    /* background-size: cover; */
}
